/* body {
    padding-top: 0;
} */

/* .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
} */

/* .navbar {
    border-radius: 0;
    font-size: 14px;
    padding: 7px 14px 7px 14px;
    height: 61px;

} */