{% extends 'base.html' %}

{% block content %}
<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h1 class="mt-4 not-wrap">{{ article.title }}</h1>

      <!-- Author -->
      <p class="lead">
        <a href="/user/{{ article.author }}">{{ article.author }}</a>
      </p>

      <hr>

      <!-- Date/Time -->
      <p>Опубликовано {{ momentjs(article.date).calendar() }}</p>

      <hr>
            <p class="lead not-wrap" >{{ article.body[3:-3] | safe }} </p>
      <hr>
  </div>
  </div>
  </div>
{% endblock%}
