{% extends "base.html" %}

{% block content %}
<div class="container">
	<form class="form-horizontal" role="form" method="POST" action="">
	{{ form.hidden_tag() }}
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<h2>Авторизация</h2>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="form-group has-danger">
					<div class="input-group mb-2 mr-sm-2 mb-sm-0">
						<div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
						{{ form.username(maxlength=32, class="form-control", placeholder="Ваш логин", required="") }}
					</div>
					{% for error in form.username.errors %}
							<span class="text-danger align-middle">
								<i class="fa fa-close"></i> {{error}}
							</span>
					{% endfor %}
				</div>
			</div>
			
		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="sr-only" for="password">Password</label>
					<div class="input-group mb-2 mr-sm-2 mb-sm-0">
						<div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
						{{ form.password(maxlength=32, class="form-control", placeholder="Ваш пароль", required="") }}
					</div>
					{% for error in form.password.errors %}
							<span class="text-danger align-middle">
								<i class="fa fa-close"></i> {{error}}
							</span>
					{% endfor %}
				</div>
			</div>
			
		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6" style="padding-top: .35rem">
				<div class="form-check mb-2 mr-sm-2 mb-sm-0" style='justify-content: flex-end; display: flex;'>
					<label class="form-check-label">
						{{ form.remember_me(class="form-check-input", label_visible=false) }}
						<span style="padding-bottom: .15rem">Запомнить меня</span>	
					</label>
					<span style="margin-left: 5px"><a href="{{ url_for('reset_password_request') }}">Забыли пароль?</a></span> 
				</div>
			</div>
		</div>
		<div class="row" style="padding-top: 1rem">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				{{ form.submit(class="form-control btn btn-success", label_visible=false) }}
				<!-- <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Login</button> -->
			</div>
		</div>
	</form>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename = 'css/login.css') }}">
<!-- <link rel="stylesheet" href="{{ url_for('static', filename = 'js/login.js') }}"> -->
{% endblock %}
