{% extends "base.html" %}

{% block content %}
    <div class="container" style="margin-top:5%;">
        <div class="row">
            <h2 class="offset-md-4 col-md-8">Запрос на сброс пароля</h2>
            <label class="offset-md-4 col-md-4"><em>На указанный email будут отправлены инструкции по восстановлению пароля</em></label>
        </div>
        <form method="post" action="">
            <div class="form-group row">
                {{ form.hidden_tag() }}
                <label for="email" class="col-md-4 col-form-label col-form-label-lg text-right">Email</label>
                <div class="col-md-4">
                    {{form.email(size=64, class="form-control") }}
                </div>
                {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group row">
                <div class="col-md-3 offset-md-4">
                    <input class="form-control btn btn-success" id="submit" name="submit" type="submit" value="Отправить запрос">
                </div>
            </div>
        </form>
    </div>
{% endblock %}