{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="my-4">{{ title }}</h1>
            <div>
                {% if posts %}
                {% for post in posts %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title"><a href="{{url_for('post_id', pk=post.id)}}">{{post.title}}</a></h2>
                        <p class="card-text">{{ post.body|truncate(255, True)|safe }}</p>
                        <a href="{{url_for('post_id', pk=post.id)}}" class="btn btn-primary">Читать далее &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        {{ momentjs(post.date).fromNow() }}
                        <a href="{{url_for('user', username=post.author)}}">{{post.author}}</a>
                    </div>
                </div>
                {% endfor %}

             <!-- Pagination -->
             <ul class="pagination justify-content-center mb-4">
                {% if next_url %}
                    <li class="page-item">
                        <a class="page-link" href="{{ next_url}}">&larr; Ранее</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">&larr; Ранее</a>
                    </li>
                {% endif %}
                {% if prev_url %}
                 <li class="page-item">
                     <a class="page-link" href="{{ prev_url }}">Новее &rarr;</a>
                 </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Новее &rarr;</a>
                    </li>
                {% endif %}
             </ul>
                {% else %}
                <div class="none-posts">
                    В данный момент, записей нет.
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}