{% extends 'base.html' %}

{% block content %}
<div class="container">
    <!-- <h1>Рад вас видеть, {{current_user.username}}</h1> -->
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="my-4">
                  Последние записи
                  <!--<small>Secondary Text</small>-->
              </h1>
            <div>
                {% if posts %} {% for post in posts %}
                <!-- Blog Post -->
                <div class="card mb-4">
                    <img class="card-img-top" src="../static/images/template.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title"><a href="{{url_for('post_id', pk=post.id)}}">{{post.title}}</a></h2>
                        <p class="card-text">{{ post.body|truncate(255, True)|safe }}</p>
                        <a href="{{url_for('post_id', pk=post.id)}}" class="btn btn-primary">Читать далее &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Опубликовано {{post.date}}
                        <a href="{{url_for('user', username=post.author)}}">{{post.author}}</a>
                    </div>
                </div>
                {% endfor %}
                <!-- Pagination -->
             <ul class="pagination justify-content-center mb-4">
                 <li class="page-item">
                     <a class="page-link" href="#">&larr; Ранее</a>
                 </li>
                 <li class="page-item disabled">
                     <a class="page-link" href="#">Новее &rarr;</a>
                 </li>
             </ul>
                {% else %}
                <div class="none-posts">
                    В данный момент, записей нет.
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
